root {
    --main-color: wheat;
}

body{
    background: #cacaca;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}


aside .logo{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -20px;
    color: var(--main-color)
}

aside .logo.text{
    margin-left: 10px;
    color: #fff;
}

a{
    text-decoration: none;
    color: #B5C5C2;
}

aside .profession{
    color: #fff;
    font-size: 25px;
    text-align: center;
}

aside ul li{
    list-style: none;
    margin-top: 15px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #104E44;
    transform: scale(1.05);
}

body .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

body .features h1{font-size: 50px;}

body .features p {max-width: 400px; margin: 20px auto;}

.hihihi {
    color: var(--main-color)
}