{% load static %}

{% block head_content %}
{% endblock %}

{% block main_content %}
    <h2>Аналитика зарплат по городам для профессии {{ profession_name }}</h2>
    <img class="cities-graph" src="{% static 'myapp1/img/graphs/cities_graph.png' %}" alt="">
    <h4>{{ title }}</h4>
    {% if prerender %}
        <table class="table table-striped table-bordered table-hover">
            <colgroup>
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
            </colgroup>
            <thead>
            <tr>

                    <th>
                        Город
                    </th>

                    <th>
                        Всего вакансий
                    </th>

                    <th>
                        Средняя зарплата
                    </th>

                    <th>
                        Вакансий C# программист
                    </th>

            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        Москва
                    </td>
                    <td>
                        1361143
                    </td>
                    <td>
                        83688
                    </td>
                    <td>
                        17138
                    </td>
                </tr>

                <tr>
                    <td>
                        Санкт-Петербург
                    </td>
                    <td>
                        413221
                    </td>
                    <td>
                        68744
                    </td>
                    <td>
                        7047
                    </td>
                </tr>

                <tr>
                    <td>
                        Киев
                    </td>
                    <td>
                        131088
                    </td>
                    <td>
                        79898
                    </td>
                    <td>
                        2369
                    </td>
                </tr>

                <tr>
                    <td>
                        Новосибирск
                    </td>
                    <td>
                        96299
                    </td>
                    <td>
                        64772
                    </td>
                    <td>
                        2331
                    </td>
                </tr>

                <tr>
                    <td>
                        Минск
                    </td>
                    <td>
                        165500
                    </td>
                    <td>
                        94082
                    </td>
                    <td>
                        1734
                    </td>
                </tr>

                <tr>
                    <td>
                        Нижний Новгород
                    </td>
                    <td>
                        87385
                    </td>
                    <td>
                        49915
                    </td>
                    <td>
                        1466
                    </td>
                </tr>

                <tr>
                    <td>
                        Екатеринбург
                    </td>
                    <td>
                        80387
                    </td>
                    <td>
                        59139
                    </td>
                    <td>
                        1254
                    </td>
                </tr>

                <tr>
                    <td>
                        Казань
                    </td>
                    <td>
                        75656
                    </td>
                    <td>
                        51310
                    </td>
                    <td>
                        1125
                    </td>
                </tr>

                <tr>
                    <td>
                        Ростов-на-Дону
                    </td>
                    <td>
                        56589
                    </td>
                    <td>
                        45004
                    </td>
                    <td>
                        999
                    </td>
                </tr>

                <tr>
                    <td>
                        Самара
                    </td>
                    <td>
                        51632
                    </td>
                    <td>
                        49548
                    </td>
                    <td>
                        777
                    </td>
                </tr>

            </tbody>
        </table>
    {% else %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                {% for header in header_city %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for city in statistics_by_cities %}
                <tr>
                    <td>
                        {{ city.area_name }}
                    </td>
                    <td>
                        {{ city.total_count }}
                    </td>
                    <td>
                        {{ city.avg_salary|floatformat:"0" }}
                    </td>
                    <td>
                        {{ city.prof_count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
