{% load static %}

{% block main_content %}
    <h2>Аналитика зарплат по годам для профессии {{ profession_name }}</h2>
    <img class="relevance-graph" src="{% static 'myapp1/img/graphs/years_graph.png' %}" alt="">
    <h4>{{ title }}</h4>
    {% if prerender %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>

                    <th>
                        Год
                    </th>

                    <th>
                        Средняя зарплата
                    </th>

                    <th>
                        Средняя зарплата - C# программист
                    </th>

                    <th>
                        Количество вакансий
                    </th>

                    <th>
                        Количество вакансий - C# программист
                    </th>

            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        2022
                    </td>
                    <td>
                        95629
                    </td>
                    <td>
                        162480
                    </td>
                    <td>
                        91142
                    </td>
                    <td>
                        973
                    </td>
                </tr>

                <tr>
                    <td>
                        2021
                    </td>
                    <td>
                        83193
                    </td>
                    <td>
                        139856
                    </td>
                    <td>
                        287915
                    </td>
                    <td>
                        3576
                    </td>
                </tr>

                <tr>
                    <td>
                        2020
                    </td>
                    <td>
                        72985
                    </td>
                    <td>
                        115659
                    </td>
                    <td>
                        489472
                    </td>
                    <td>
                        6345
                    </td>
                </tr>

                <tr>
                    <td>
                        2019
                    </td>
                    <td>
                        70065
                    </td>
                    <td>
                        107803
                    </td>
                    <td>
                        535956
                    </td>
                    <td>
                        7316
                    </td>
                </tr>

                <tr>
                    <td>
                        2018
                    </td>
                    <td>
                        65679
                    </td>
                    <td>
                        105595
                    </td>
                    <td>
                        517670
                    </td>
                    <td>
                        7378
                    </td>
                </tr>

                <tr>
                    <td>
                        2017
                    </td>
                    <td>
                        60394
                    </td>
                    <td>
                        90399
                    </td>
                    <td>
                        391464
                    </td>
                    <td>
                        5724
                    </td>
                </tr>

                <tr>
                    <td>
                        2016
                    </td>
                    <td>
                        61331
                    </td>
                    <td>
                        83855
                    </td>
                    <td>
                        332460
                    </td>
                    <td>
                        4209
                    </td>
                </tr>

                <tr>
                    <td>
                        2015
                    </td>
                    <td>
                        51739
                    </td>
                    <td>
                        76237
                    </td>
                    <td>
                        284763
                    </td>
                    <td>
                        3314
                    </td>
                </tr>

                <tr>
                    <td>
                        2014
                    </td>
                    <td>
                        49078
                    </td>
                    <td>
                        68978
                    </td>
                    <td>
                        259571
                    </td>
                    <td>
                        2867
                    </td>
                </tr>

                <tr>
                    <td>
                        2013
                    </td>
                    <td>
                        53548
                    </td>
                    <td>
                        69540
                    </td>
                    <td>
                        234019
                    </td>
                    <td>
                        2849
                    </td>
                </tr>

                <tr>
                    <td>
                        2012
                    </td>
                    <td>
                        47967
                    </td>
                    <td>
                        63124
                    </td>
                    <td>
                        173897
                    </td>
                    <td>
                        2268
                    </td>
                </tr>

                <tr>
                    <td>
                        2011
                    </td>
                    <td>
                        46448
                    </td>
                    <td>
                        57111
                    </td>
                    <td>
                        142458
                    </td>
                    <td>
                        1712
                    </td>
                </tr>

                <tr>
                    <td>
                        2010
                    </td>
                    <td>
                        44658
                    </td>
                    <td>
                        53446
                    </td>
                    <td>
                        93494
                    </td>
                    <td>
                        1064
                    </td>
                </tr>

                <tr>
                    <td>
                        2009
                    </td>
                    <td>
                        44812
                    </td>
                    <td>
                        53733
                    </td>
                    <td>
                        52889
                    </td>
                    <td>
                        453
                    </td>
                </tr>

                <tr>
                    <td>
                        2008
                    </td>
                    <td>
                        48411
                    </td>
                    <td>
                        56053
                    </td>
                    <td>
                        75070
                    </td>
                    <td>
                        767
                    </td>
                </tr>

                <tr>
                    <td>
                        2007
                    </td>
                    <td>
                        44449
                    </td>
                    <td>
                        56483
                    </td>
                    <td>
                        53562
                    </td>
                    <td>
                        497
                    </td>
                </tr>

                <tr>
                    <td>
                        2006
                    </td>
                    <td>
                        41317
                    </td>
                    <td>
                        46596
                    </td>
                    <td>
                        33321
                    </td>
                    <td>
                        312
                    </td>
                </tr>

                <tr>
                    <td>
                        2005
                    </td>
                    <td>
                        375739
                    </td>
                    <td>
                        37771
                    </td>
                    <td>
                        16022
                    </td>
                    <td>
                        62
                    </td>
                </tr>

                <tr>
                    <td>
                        2004
                    </td>
                    <td>
                        42967
                    </td>
                    <td>
                        36949
                    </td>
                    <td>
                        7833
                    </td>
                    <td>
                        17
                    </td>
                </tr>

                <tr>
                    <td>
                        2003
                    </td>
                    <td>
                        41305
                    </td>
                    <td>
                        24160
                    </td>
                    <td>
                        1983
                    </td>
                    <td>
                        5
                    </td>
                </tr>

            </tbody>

        </table>
    {% else %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                {% for header in header_year %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for year in statistics_by_years %}
                <tr>
                    <td>
                        {{ year.published_at }}
                    </td>
                    <td>
                        {{ year.avg_salary|floatformat:'0' }}
                    </td>
                    <td>
                        {% if year.prof_salary %}{{ year.prof_salary|floatformat:'0' }}{% else %}
                            0
                        {% endif %}
                    </td>
                    <td>
                        {{ year.total_count }}
                    </td>
                    <td>
                        {{ year.prof_count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endif %}
{% endblock %}
